.somos{
    width: 100%;
    margin-top: 50px;
}

.somos_organizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F7;
    padding: 25px;
    height: 250px;
}

.organizacion_titulo, .biografia_tituloP{
    font-size: 30px;
    text-align: center;
}

.organizacion_text{
    width: 50%;
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 18px;
}

.organizacion_text strong{
    color: rgb(5, 5, 72);
    font-size: 19px;
    font-family: 'Raleway';
}

.somos_biografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.biografia_tituloP{
    margin: 50px 0;
}

.biografias{
    width: 60%;
    display: flex;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 40px;
}

.biografia_img{
    width: 200px;
    height: 200px;
    margin-right: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.biografia_titulo{
    padding: 15px;
}

.biografia_text{
    font-size: 17px;
    padding: 5px 15px;
}

@media(max-width: 1200px){
    .organizacion_text{
        width: 80%;
    }
    .biografias{
        width: 75%;
    }
    
}

@media(max-width: 680px){
    .somos_organizacion{
        height: 300px;
    }
.organizacion_text{
    width: 100%;
}

    .biografias{
        flex-direction: column;
        width: 60%;
    }
    
    .biografia_img{
        margin: 15px 0 0 0;
        border-radius: 15px;
    }

    .biografia_text{
        text-align: center;
        margin-bottom: 20px;
    }

    .biografia_titulo{
        text-align: center;
    }

}


@media(max-width: 360px){
    .biografias{
        width: 80%;
    }

    .biografia_img{
        margin-bottom: 15px;
    }

    .somos_organizacion{
        height: 400px;
    }
}
